/* @media screen and (max-width:1500px){
  #textar {
    width: 84vh !important;   
  }  
} */
@media screen and (max-width:1450px) {
.bodyContainer , .JunCon1{
      height: auto;
  } 
  /* #textar {
    max-width:83vh !important;
 }    */
}
@media screen and (max-width:1340px) {
    .JunCon2{
        width: 20%;
        height: 400px;
    }
    .contactImgContainer{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* #textar {
        max-width:73vh !important;
     }   */
}
@media screen and (max-width:1110px){
    #textar {
        max-width:65vh !important;
     }   
}

