*{
    box-sizing: border-box;
    text-decoration: none;    
}
html body {
    margin: 0;
    padding: 0;
    background-color: #edf0f0;
}
.topd {
    height:90px;
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: white;
    margin-bottom: 35px;
}
nav {
    width: 30%;
}
.navul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center !important;
}
.navul li {
    width: 33%;
    height: 90px;
    list-style-type: none;
    border-left: 1px solid lightgray;
    border-right: 1px  solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navul li>a {
    width: 100%;
    height: 90px;
    padding: 32px 10px;
    text-align: center;
}

.navul li>a:hover {
    background-color: #188097;
    transition: width 1s ease-out 1s ;  
    transform: scale(1.05,1); 
    font-weight: bold; 
    color:white;  
}

header {
    width: 253px;
    height: 90px;
    background-color:#219c97;
}
header:hover {
    transition: width 1s ease 1s;
    background-color:#188097 ;
    transform: scale(1.05,1);
}
.hedh1 {
    font-weight:bold ;
    text-align: center;  
    color: white; 
}
.nava {
    font-size: 24px;
    color:#67676c;
    font-weight: 400;
    font-family: "DejaVu Sans";
}
.bodyContainer {
    width: 70%;
    height:520px;
    margin: auto;
    /* background-color: greenyellow;   */
    display: flex;  
    /* flex-wrap: nowrap;   */
    justify-content: space-around;
}
.JunCon1{
    width: 65%;
    height:520px;
    background-color: white;
    padding: 20px;
}

hr {
    background-color: lightgray;
    margin-bottom: 25px;
}
.prphoto{
    width: 300px;
    height: 300px;
    float: left;
    /* bu kodu yazdım amma niyə text wrap oldu anlamadım */
    margin: 0px 10px 0px 0px;
}
p {
    text-align: justify;
    font-size: 20px;
}
.JunCon2 {
    width: 27%;
    height: 220px;
    background-color: white;
    padding: 20px;
}
.contactImgContainer {
    display: flex;
    justify-content: space-around;
}
.contactImg {
    width: 80px;
    height: 70px;
    border-radius: 3px;
}
.contactImg:hover{
    transform: scale(1.05,1);
}
.hed2 {
  color: #219c97;  
}
.secondh{
    text-align: center;
}
footer {
    background-color:gray;
    border-top: 5px solid #219c97;
    height: 70px;
    width: 100%;
    margin-top:2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerP{
    text-align: center;
    font-size: 14px;
}
